.graphCard {
  background-color: #fff;
  width: 47%;
  height: 100%;
  max-height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5%;
  margin-bottom: 3em;
  box-sizing: border-box;
  padding: 0.8em 1.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.content {
  height: 80%;
  width: 100%;
}

.title {
  font-size: 0.80em;
}

.periodSelect{ 
  width: 12em;
}